{% extends 'base.html' %}

{% block title %}
Карьер
{% endblock %}

{% block body %}
<div class="container">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">АС Весовщик. <span class="text-muted">Учет песка и мела.</span></h2>
        <p class="lead">АС Весовщик — это комплекс программно-технических средств для автоматического взвешивания автотранспорта и учета перевозимой продукции.</p>
        <a class="btn btn-outline-secondary" href="/pit/scales">подробная информация »</a>
      </div>
      <div class="col-md-5">
        <img src="static/images/ves.jpg" alt="" width="450" height="280">
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-7 order-md-2 mt-4">
        <h2 class="featurette-heading">АСКУД. <span class="text-muted">Контроль рабочего времени.</span></h2>
        <p class="lead">Автоматизированная Система Контроля и Управления Доступом реализована на базе системы PERCo-S20 и выполняет функцию контроля и учета рабочего времени сотрудников карьера.</p>
        <a class="btn btn-outline-secondary" href="#">подробная информация »</a>
      </div>
      <div class="col-md-5 order-md-1 mt-4">
        <img src="static/images/perco.jpg" alt="" width="450" height="280">
      </div>
    </div>
</div>
{% endblock %}