{% extends 'base.html' %}

{% block title %}
Карьер
{% endblock %}

{% block body %}
<div class="container">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">АС Весовщик. <span class="text-muted">Учет песка и мела.</span></h2>
        <p class="lead">АС Весовщик — это комплекс программно-технических средств для автоматического взвешивания автотранспорта и учета перевозимой продукции.</p>
        <a class="btn btn-outline-secondary" href="#">подробная информация »</a>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">АСКУД. <span class="text-muted">Контроль рабочего времени.</span></h2>
        <p class="lead">Автоматизированная Система Контроля и Управления Доступом реализована на базе системы PERCo-S20 и выполняет функцию контроля и учета рабочего времени сотрудников карьера.</p>
        <a class="btn btn-outline-secondary" href="#">подробная информация »</a>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
</div>
{% endblock %}