{% extends 'base.html' %}

{% block title %}
АС Весовщик
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Итого: {{ sum_net }} <span class="text-muted">/ тонн</span></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <form method="post">
                <h6>от:<input name="date_ot" id="date_ot" type="date" class="form-control"></h6>
                <h6>до:<input name="date_do" id="date_do" type="date" class="form-control"><br></h6>
                <input type="submit" class="btn btn-sm btn-outline-secondary" value="применить">
            </form>
          </div>
        </div>
      </div>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Время</th>
      <th scope="col">ID карта</th>
      <th scope="col">Авто</th>
      <th scope="col">Вес авто/кг</th>
      <th scope="col">Нетто/т</th>
      <th scope="col">Брутто/т</th>
    </tr>
    </thead>
    <tbody>
  {% for el in sand %}
  <tr>
      <th scope="row">{{ el.id }}</th>
      <td>{{ el.date.strftime("%d.%m.%Y %H:%M:%S") }}</td>
      <td>{{ el.time }}</td>
      <td>{{ el.card }}</td>
      <td>{{ el.car }}</td>
      <td>{{ el.tare }}</td>
      <th>{{ el.net }}</th>
      <td>{{ el.gross }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}